<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
  <servlet-name>demo</servlet-name>
  <servlet-class> nl.captcha.servlet.StickyCaptchaServlet</servlet-class>
  <init-param>
             <param-name>captcha-width</param-name>
             <param-value>400</param-value>
         </init-param>
         <init-param>
             <param-name>captcha-height</param-name>
             <param-value>200</param-value>
         </init-param>
         <init-param>
             <param-name>ttl</param-name>
             <param-value>2000</param-value>
         </init-param>
  
</servlet>

<servlet-mapping>
   <servlet-name>demo</servlet-name>
   <url-pattern>/stickyImage</url-pattern>
</servlet-mapping>
</web-app>
